.abrilfatface {
  font-family: 'Abril Fatface'; }

.abel {
  font-family: 'Abel'; }

.abeezee {
  font-family: 'ABeeZee'; }

.opensans {
  font-family: 'Open Sans'; }

.montserrat {
  font-family: 'Montserrat'; }
