/* universal */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin-top: 50px; }

input {
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #222;
  width: 100%; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #222;
  opacity: 1;
  width: 100%; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #222;
  opacity: 1;
  width: 100%; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #222;
  width: 100%; }

:placeholder-shown {
  /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #222;
  width: 100%; }

#header {
  width: 100%;
  line-height: 1.5em; }

#paragraph {
  width: 100%;
  color: #222; }

p {
  color: blue; }

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.popover {
  color: red;
  margin: 40px; }

.button {
  text-decoration: none;
  border: none;
  color: white;
  padding: 5px;
  margin: 10px 0px; }

.randomize {
  background-color: blue; }

.save {
  background-color: green; }
