<!--  <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div class="collapse navbar-collapse" collapse="navCollapsed">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Link</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>
<h2>This is an about page.</h2>
 -->
<nav>
  <a ui-sref-active="active" ui-sref="fontgen">FontGen</a>
  <a ui-sref-active="active" ui-sref="about">About</a>
  <a ng-if="loggedIn" ui-sref-active="active" ui-sref="profile">My Pairs</a>
  <a ng-if="!loggedIn"  ui-sref-active="active" ui-sref="login">Login</a>
  <a ng-if="loggedIn" ng-click="doLogout()">Logout</a></li>
</nav>
