<div class="container">
  <div class="col-md-12">
    <h1 class="rw-sentence">
    <span>FontGen is an experiment in</span>
    <div class="rw-words rw-words-2">
      <span>font pairing.</span>
      <span>visual play.</span>
      <span>experimenting.</span>
      <span>taking risks.</span>
    </div>
    </h1>
  </div>
  <div class="col-md-12">
    <br>
    <h3>FontGen was created with curious typographers, web developers, and designers in mind.</h3>
    <h3>Our goal is to allow users to discover web-safe font pairs they love without having to scroll through thousands of type specimens. Currently supporting all Google Fonts.</h3>
    <br>
    <h3>Contribute to this project on <a target="_blank" href="https://github.com/mjolliffe/fontgen">GitHub <i class="fa fa-github fa-2x"></i></a>
    </h3>
  </div>
</div>


