<div class="container">
  <div class="col-md-12">
    <h1 class="rw-sentence">
    <span>FontGen is an experiment in</span>
    <div class="rw-words rw-words-2">
      <span>font pairing.</span>
      <span>visual play.</span>
      <span>combinations.</span>
      <span>chance.</span>
    </div>
    </h1>
  </div>
  <div class="col-md-12">
  <h3>FontGen was created with the curious typographist/web developer/designer in mind.</h3>
  <h3>Our goal is to allow users to discover font combinations they love without having to scroll through thousands of specimens.</h3>
  <h3>Contribute to this project on <a href="https://github.com/mjolliffe/fontgen">GitHub <i class="fa fa-github"></i></a>
</h3>
  </div>
</div>


