<div class="container" ng-controller="FontController">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10">
      <h1><input type="text" name="" value="" placeholder="Welcome to FontGen" id="header" autofocus></h1>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <p class="display">Header Font:</p>
      <a target="_blank" href="https://www.google.com/fonts#UsePlace:use/Collection:{{fontName}}" ><p class="name">{{fontName}}</p></a>
      <button class="button lock" value="" ng-click="toggleHeader(); toggle = !toggle" ng-class="{'unlock' : toggle}">{{toggle &&'Lock' || 'Unlock'}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs-2">
      <textarea name="" id="paragraph" cols="30" rows="5">Header and paragraph text is editable! Just click and change. Create new font combinations by clicking the “Generate” button! Lock either the header or paragraph text if you like a font, but want to pair it with another. Sign up or Login to save your favorite pairs.</textarea>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <p class="display">Paragraph Font:</p>
      <a target="_blank" href="https://www.google.com/fonts#UsePlace:use/Collection:{{fontName2}}" ><p class="name">{{fontName2}}</p></a>
      <button class="button lock" value="" ng-click="toggleParagraph(); toggle2 = !toggle2" ng-class="{'unlock' : toggle2}">{{toggle2 &&'Lock' || 'Unlock'}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 break">
      <input type="button" class="button randomize" value="Generate" ng-click="randomize()">
      <input type="button" class="button save" value="Save Pair" ng-click="save()" uib-popover-html="htmlPopover" popover-trigger="mouseenter">
    </div>
  </div>
</div>
