<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <!-- your branding here -->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
      <a ui-sref-active="active" ui-sref="fontgen">Mix</a>
      <a ui-sref-active="active" ui-sref="about">About</a>
      <a ng-if="loggedIn" ui-sref-active="active" ui-sref="profile">Profile</a>
      <li ng-if="!loggedIn"><a href="/login">Login</a></li>
      <li ng-if="loggedIn" class="navbar-text">Hello {{ main.user.name }}!</li>
      <li ng-if="loggedIn"><a href="#" ng-click="doLogout()">Logout</a></li>
    </div>
</nav>


