<div class="container" ng-controller="UserController">
  <div class="col-md-12">
    <form ng-submit="createUser()">
      <h1>Sign Up</h1>
      <div class="row">
        <label for="inputName" class="">Name</label>
        <div class="form-group">
          <input type="text" id="inputName" class="form-control" placeholder="Emma Robertson" ng-model="userData.name" required />
        </div>
      </div>
      <div class="row">
        <label for="inputEmail" class="">Email</label>
        <div class="form-group">
          <input type="email" id="inputEmail" class="form-control" placeholder="emma@gmail.com" ng-model="userData.email" required />
        </div>
      </div>
      <div class="row">
        <label for="inputPword" class="">Password</label>
        <div class="form-group">
          <input type="password" id="inputPword" class="form-control" placeholder="Save your info!" ng-model="userData.password" required />
        </div>
      </div>
      <button class="btn btn-success submit-login-button" type="submit">Start Saving Fonts!</button>
    </form>
  </div>
</div>
