/* universal */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Futura;
  margin-top: 40px;
}

main {
  margin-top: 40px;
}

nav {
  width: 100%;
}

.nav li a {
  color: red;
  font-size: 1.5em;
  padding: 10px;
}

.nav li a:hover {
  background-color: blue;
  color: white;
}

a {
  color: blue;
}

a:hover {
  color: blue;
}

h1 {
  margin-bottom: 30px;
}

#header {
  width: 100%;
  line-height: 1.5em;
  font-size: 2.25em;
  margin: 10px 0px;
}

#page-header {
  width: 100%;
  line-height: 1.5em;
  font-size: 5.5em;
  margin: 10px 0px;
}

#paragraph {
  width: 100%;
  color: #222;
  font-size: 1.5em;
  margin: 10px 0px;
}

p {
  color: #222;
  font-size: 1.25em;
}

a:hover {
  text-decoration: none;
}

.name {
  color: blue;
}

.display {
  margin-top: 40px;
}

input {
  outline: none;
  border: none;
  padding: 0px 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #222;
  width: 100%;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #222;
  opacity:  1;
  width: 100%;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #222;
  opacity:  1;
  width: 100%;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #222;
  width: 100%;
}

:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: #222;
  width: 100%;
}

label {
  font-size: 16px;
}

.form-control {
  max-width: 75%;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  padding: 0px 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.break {
  margin-top: 20px;
}

.button {
  text-decoration: none;
  border: none;
  color: white;
  margin: 20px 0px;
  font-size: 1.2em;
  display: inline-block;
  padding: 10px;
}

.randomize {
  background-color: blue;
}

.save {
  background-color: green;
}

.delete {
  background-color: red;
}

.lock {
  border: 1px solid red;
  background-color: red;
  text-align: center;
  margin: 10px 0px 0px;
}

.unlock {
  border: 1px solid black;
  background-color: black;
  text-align: center;
  margin: 10px 0px 0px;
}
/*
.btn {
  border: 1px solid green;
  border-radius: none;
  background-color: green;
  text-align: center;
  margin: 10px 0px 0px;
}*/

.rw-sentence{
  margin: 0;
  text-align: left;
  /*text-shadow: 1px 1px 1px rgba(255,255,255,0.8);*/
}

.rw-sentence span{
  color: #222;
  white-space: nowrap;
  font-weight: normal;
  line-height: 1.5em;
}

.rw-words{
  display: inline;
  text-indent: 10px;
}

.rw-words span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: red;
}

.rw-words-2 span{
  animation: rotateWordsSecond 18s linear infinite 0s;
}
.rw-words span:nth-child(2) {
  animation-delay: 4s;
  color: green;
}
.rw-words span:nth-child(3) {
  animation-delay: 8s;
  color: blue;
}
.rw-words span:nth-child(4) {
  animation-delay: 12s;
  color: red;
}

@keyframes rotateWordsSecond {
  0%    { animation-timing-function: linear; width: 0px; }
  10%   { opacity: 0.7; width: 0px; }
  20%   { opacity: 1; width: 100%; }
  30%   { opacity: 0; width: 100%; }
  100%  { opacity: 0; }
}
